:root {
 --primary-color: #2AA915;
 --secondary-color: #30C917;
 --text-color: #062010;
 background-color: #fff;
font-family: 'Montserrat', sans-serif;
--title-font-size: 24px;
--primary-font-size: 40px;
  line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 600;
  line-height: 1.5;
  color: #062010;
  background-color:#fff;
}

h1 {
  height: 96px;
  width: 300px;
  font-size: 700;
}

h2 {
  height: 29px;
  width: 300px;
  font-size: 700;
}

p{
  color: #676767;
}

.hero-section{
  background: linear-gradient(90deg, #f8fff6 16.74%, rgba(248, 255, 246, 0.58) 79.12%, rgba(248, 255, 246, 0.1) 100%);
}

.bg-primary{
  background: linear-gradient(180deg, rgba(248, 255, 246, 0) 0%, rgba(248, 255, 246, 0.47) 8.43%, #f8fff6 21.17%, rgba(232, 249, 229, 0) 100%);
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: #062010;
}

.features-h3{
font-weight: 500;
  font-size: 18px;
  color: #2f2f2f;
}

.paragraph-hero{
  width: 245px;
  height: 78px;
  color: #000000;
  margin: 16px 99px 24px 16px;
}

.h2-name{
 font-weight: 700;
  font-size: 24px;
}

.p-info{
  font-weight: 600;
    font-size: 16px;
}

.h2-farm{
 font-weight: 600;
 font-size: 18px;
 color: #062010;
}

.h2-cards{
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.p-cards{
  font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.highlight-color{
  color: #2AA915;
}

.and-section{
  background: linear-gradient(0deg, rgba(42, 169, 21, 0.37) 0%, rgba(42, 169, 21, 0) 100%);
}

.footer{
 background: #262626;
 color: #fff;
}
.a-link{
  color: #fff;
  text-decoration: none;
}

.p-link{
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #fff;
}