:root {
  /*Colors */
  --primary-color: #2AA915;
  --secondary-color: #30C917;
  --text-color: #062010;
  --body-bg-color: #fff;
  --subtext-color: #676767;
  --background-color-button: linear-gradient(130deg, #30c917 0%, #279a13 100%);

  /* Fonts */
  --body-font-family: 'Montserrat', sans-serif;
  --body-text: 'Helvetica', sans-serif;
  --hero-text-font: 'Arial', sans-serif;
  --text-font-family: 'Times New Roman', sans-serif;

  /* Sizes */
  --hero-title-font-size: 40px;
  --body-text-font-size: 24px;
  --list-font-size: 18px;
  --text-font-size: 16px;
  --farm-font-size: 14px;
  --body-line-height: 1.5;
  --container-width: 1130px;

  /* Border-radius */
  --border-radius: 24px;
  --border-radius-info: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url("https: //fonts.google.com/specimen/Montserrat") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--body-font-family);
  font-weight: 600;
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--body-bg-color);
  font-size: var(--text-font-size);
  line-height: 1.2;
}


/* HEADER */

.bg-wrapper{
  background-image: url(../images/fons-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: #64DAF7;
}

.nav{
display: flex;
justify-content: center;
}

.nav-list-container {
  display: flex;
  font-weight: 400;
  font-size: var(--list-font-size);
  color: #fff;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;
  flex-grow: 1;
  display: none; 
}

.nav-visible {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  justify-content: center;
  backdrop-filter: blur(3px);
  display: flex;

   .nav-list-container,
   .btn-header-activ{
    display: flex;
  } 
}

.nav-list{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.nav-sublist{
  a{
    text-decoration: none;
     color: inherit;
  }
  }

.mobile-menu-btn{
display: flex;
flex-direction: column;
justify-content: space-evenly;
width: 40px;
height: 40px;
margin-left: auto;
align-items: center;
border: none;
background: #90d0fa5e;
cursor: pointer;
position: relative;
z-index: 11;
}

.mobile-menu-btn span {
  min-width: 24px;
  background: 100%;
  min-height: 3px;
  border-radius: 4px;
  background-color: var(--text-color);
}

/* HERO */

.hero-section{
  padding-bottom: 40px;
}

.img-hero{
  min-width: 328px;
  aspect-ratio: 1/1;
}

.container {
  max-width: 360px;
  padding: 0 16px;
}

.headline,
.title {
  font-weight: 700;
  font-size: var(--body-text-font-size);
}

.headline {
  text-align: center;
  margin-bottom: 48px;
}

.title {
  font-size: var(--hero-title-font-size);
  margin-bottom: 16px;

  .highlight-color { 
 display: block;
  }
}

.features-color,
.title-list,
.title-list-one,
.paragraph-title,
.subtitle,
.title-hero{
  font-weight: 500;
}

.subtitle {
  font-weight: 400;
  line-height: 162%;
  color: #000;
  margin-bottom: 24px;
  max-width: 250px;
}

.hero-video {
  background-image: url(../images/hero-video.svg);
  min-width: 900px;
  min-height: 581px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  margin-bottom: 200px;
  display: none;
}

.hero-video-img {
  padding-left: 12px;
}

 .fons-three{
position: fixed;
width: 100%;
  min-height: 100%;
  padding-top: 100px;
} 

/*TITLE */

.title-section{
  padding: 40px 0 76px;

  .headline{
    display: flex;
    align-items: start;
    margin-left: 16px;
    margin-bottom: 12px;
  }
}

.title-list{
  margin-bottom: 48px;
}

.title-item {
  min-height: 64px;
  min-width: 328px;
  display: flex;
  justify-content: flex-start;
  margin: 24px 0;
border-radius: 64px 16px 16px 64px;
box-shadow: 0 4px 28px 0 rgba(27, 17, 8, 0.06);
  background: #fff;

  
}
.title-text {
  display: flex;
  align-items: center;
  margin-left: var(--text-font-size);
}

.img-title{
  height: 64px;
}

.img-title-and{
  border-radius: var(--text-font-size);
  max-width: 312px;
  min-height: 286px;
  margin: 0 auto;
}


.paragraph-title {
  margin: 0 0 51px 10px;
}

     /* FEATURES */

.features-section{
  padding: 76px 0 37px;
}     

.features-list {
  font-weight: 400;
   font-size: var(--farm-font-size);
   color: #4b4b4b;
   display: grid;
   justify-content: center;
   gap: 32px;
   margin-bottom: 40px;
  }
  
  .highlight-color,
  .features-color,
  .features-title {
    color: var(--primary-color);
  }
  
  .features-item {
    font-weight: 500;
    font-size: var(--list-font-size);
    color: #2f2f2f;
    margin: 0 auto;
  }
  
  .features-sublist {
    border-radius: var(--border-radius);
    max-width: 280px;
    max-height: 204px;
    box-shadow: 0 4px 20px 0 rgba(27, 17, 8, 0.1);
    background: var(--body-bg-color);
    margin-bottom: 10px;
    display: grid;
   grid-template-columns: 1fr; 
  
  img {
    margin: 0 auto 20px;
    padding-top: 18px;
    max-width: 80px;
    max-height: 98px;
  }
.features-text{
    padding-bottom: 20px;
    margin: 10px 35px 0;
    margin-inline: 35px;
  }
}

     /* INFO */

.info-section{
  padding: 37px 0 34px;
}     

li {
  list-style-type: none;
}

.info-sublist {
  border: 2px solid rgba(42, 169, 21, 0.2);
  border-radius: var(--border-radius-info);
  min-width: 192px;
  min-height: 174px;
  box-shadow: 0 4px 28px 0 rgba(27, 17, 8, 0.06);
  background: var(--body-bg-color);
  margin: 0 auto 32px;
  width: 174px;
  height: 192px;

  img {
    display: block;
    margin: 30px auto 0 ;
  }

  .highlight-color{
    display: flex;
      justify-content: center;
  margin-top: 7px;
}
}

.info-text{
display: flex;
  justify-content: center;
  margin-top: 30px;
}
  
.info-container{
  display: none;
}
  
     /* FARM */

.farm-section{
  padding: 34px 0 33px;
  display: flex;
}

.farm-list {
  font-size: var(--text-font-size);
  display: block;
}

.farm-item {
  font-size: 18px;
  margin-bottom: 32px;
  align-items: center;
  box-shadow: 0 4px 20px 0 rgba(27, 17, 8, 0.1);
    background: var(--body-bg-color);
  display: grid;
    grid-template-columns: 1fr 2fr;
  max-width: 300px;
  font-weight: 600;
  padding: 24px;
  border-radius: var(--border-radius-info);
}

.farm-title {
  display: flex;
  font-size: var(--list-font-size);
  color: var(--text-color);
  margin: 0 0 4px 3px;
}

.farm-text {
margin-bottom: 4px;
}

.farm-subtitle {
  font-size: var(--farm-font-size);
  color: var(--subtext-color);
  margin-bottom: 8px;
}

.farm-col {
  .btn{
    margin-left: 30px;
  }
}

.farm-list-img{
  margin-right: 16px;
  margin-bottom: 14px;
}

     /* AUTO */

.auto-section {
  padding: 33px 0;
  display: flex;
}

.farm-sublist,
.auto-sublist {
  border-radius: var(--border-radius-info);
  max-width: 282px;
  max-height: 153px;
  box-shadow: 0 4px 20px 0 rgba(27, 17, 8, 0.1);
  background: var(--body-bg-color);
  margin: 32px 0;
  display: block;
}

     /* PARTNERS */

.partners-section{
  padding: 33px 0 46px;
}

.partners-box{
display: grid;
gap: 20px;
grid-template-columns: repeat(3, 1fr);
}

.partners-box-two{
display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

     /* CARDS */

.cards-section {
  padding-top: 46px;
  padding-bottom: 56px;
}

.cards-box {
  font-weight: 500;
  font-size: var(--farm-font-size);
  line-height: 171%;
  color: var(--body-bg-color);
  background-color: #BBDBB6;
      min-width: 328px;
           border-radius: var(--border-radius-info);
           padding: 102px 14px 24px 16px; 
    position: relative;

    
    p {
      margin-bottom: 24px;
}
}

.cards-one {
  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    min-width: 165px;
    min-height: 140px;
    top: 0;
    right: 0;
    background-image: url(../images/tractor.svg);
    background-repeat: no-repeat;
}
}

.cards-two {
  &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      min-width: 165px;
      min-height: 140px;
      top: 0;
      right: 0;
      background-image: url(../images/hand.svg);
        background-repeat: no-repeat;
}
}

.card-title {
  font-weight: 600;
  font-size: var(--body-text-font-size);
  color: var(--body-bg-color);
  margin-bottom: 8px;
  text-align: start;
}

.card-columns {
  display: grid;
  justify-content: center;
  gap: 32px;
}

     /* AND */

.and-section{
  min-width: 360px;
    min-height: 282px;
    background: linear-gradient(0deg, rgba(42, 169, 21, 0.37) 0%, rgba(42, 169, 21, 0) 100%);
    padding-top: 56px;
    padding-bottom: 33px;
}

     
.and-box{
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 74px;
    max-width: 319px;
    max-height: 88px;
    box-shadow: 0 4px 28px 0 rgba(27, 17, 8, 0.06);
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.57) 0%, rgba(255, 255, 255, 0.71) 0.01%, rgba(255, 255, 255, 0.06) 100%);
}

.and-img{
  margin: 13px 1px 11px 9px;
}

     /* FOOTER */

     .farm-text,
     .info-text,
     .paragraph-title,
     .footer-link,
     .footer {
       font-size: var(--text-font-size);
       color: var(--subtext-color);
     }

     .info-list,
     .footer-headline {
       font-weight: 700;
       font-size: 22px;
     }

    .footer {
      font-size: 12px;
      color: var(--body-bg-color);
      background: #262626;
      min-width: 360px;
      max-height: 323px;
      padding: 42px;
}
    
    .footer-headline {
      font-size: var(--body-text-font-size);
      margin: 0 auto 36px;
      display: flex;
        justify-content: center;
}

.footer-links-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 50px;
}
    
.footer-link {
  display: flex;
  align-items: center;
 text-decoration: none;
  color: #f8f8f8;
  border: 1px solid #484848;
   border-radius: 38px;
  min-width: 143px;
   min-height: 44px;
  box-shadow: 0 4px 28px 0 rgba(27, 17, 8, 0.06);
  background: #373737;

img{
  margin: 0 8px;
}
}

.footer-text {
    text-align: center;
  }

     /* BTN */

.btn {
  padding: 10px var(--text-font-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.25s ease;

  &:hover {
    opacity: 0.8;
  }
}


.btn-header-activ{
  min-width: 162px;
    min-height: 48px;
border-radius: 8px;
display: none;
}

.btn,
.btn-outline-light {
  font-weight: 500;
  font-size: var(--text-font-size);
  text-align: center;
  border: none;
  color: var(--body-bg-color);
  background: linear-gradient(130deg, #30c917 0%, #279a13 100%);
}

.btn-primary,
.btn-outline-light {
  font-weight: 600;
  color: var(--primary-color);
  background: rgba(42, 169, 21, 0.18);
  padding: 10px 14px;
}

.btn-outline-light {
  color: #ef3581;
  border: 2px solid #ee3581;
  background: #fbe4ee;
  margin-bottom: 40px;
}

.btn-features {
  display: block;
  margin: 0 auto;
}

.btn-with-icon{
  justify-content: center;
  margin-left: 50px;
  border-radius: var(--border-radius);
    max-width: 152px;
    max-height: 40px;
}

.hero-video-btn {
  border-radius: 100%;
  min-width: 137px;
  min-height: 137px;
}

@media (min-width: 768px){

  /* HEADER */

.bg-wrapper{
  background-image: url(../images/fons-one.jpg);
}

.header{
padding: 24px 0;
}

.btn-header-activ{
  display: flex;
}

.nav-list-container{
  display: flex;
  flex-direction: none;
}

.nav-list{
  color: var(--text-color);
}

.mobile-menu-btn{
  display: none;
}

.logo{
  margin-right: 150px;
}
  
  /* HERO  */

  .hero-section{
   margin-bottom: 0;
      padding: 0 54px 52px 0;
    }
    
    .hero-box{
      display: flex;
}

  .headline {
    font-size: 48px;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 156px;
  }

    .title{
      margin-top: 215px;
      font-size: 72px;
    }

.subtitle{
  max-width: 450px;
}

  .btn-outline-light{
  margin-top: 40px;
  }

  .img-hero{
 min-width: 642px;
 min-height: 662px;
 margin: 0 0 300px 20px;
  }

.hero-video{
  display: flex;
}

  /* TITLE  */

.title-section{
  padding-top: 52px;
  padding-bottom: 100px;
    margin: 0 auto;
  }
    
.title-box-img{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

    .title-box{
    min-width: 495px;
    min-height: 645px;
}

.paragraph-title{
  font-size: 20px;
}

.outline{
  border-radius: 64px 24px 24px 64px;
    max-width: 480px;
    max-height: 100px;
  margin: 0 0 33px 0;
}

.img-title{
  margin-bottom: 33px;
  max-width: 100px;
  min-height: 100px;
}

.title-text{
  font-size: 22px;
}

.img-title-and{
border-radius: 36px;
  max-width: 552px;
  min-height: 588px;
  margin: 57px 96px 0 0;
}

  /* FEATURES  */

.features-section{
  padding-top: 100px;
  padding-bottom: 72px;
}

  .features-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 24px;
  }
  .features-item{
    font-size: var(--body-text-font-size);
    margin-bottom: 12px;
  }
  .features-sublist{
    border-radius: var(--border-radius);
    min-width: 360px;
    min-height: 271px;

  .features-text{
      margin: 0 45px 20px;
    }

    img {
 margin-bottom: 22px;
 padding-top: 24px;
 max-width: 110px;
 min-height: 134px;
    }
  p {
    margin-top: 12px;
}
  }
    .btn-features {
      margin-top: 80px;
    }
  /* INFO  */

.info-section{
  padding: 72px 0;
}

    .info-list{
display: flex;
justify-content: center;
}

.info-sublist{
 margin: 0 21px 42px;
    }

.info-container{
  display: flex;
  justify-content: center;
}
  /* FARM  */

.farm-section{
  padding: 72px 0 90px;

  .headline{
    margin-bottom: 70px;
  }
}

.farm-item{
min-width: 745px;
max-height: 100px;
  display: flex;
  padding: 20px 24px 18px 14px; 
  margin-bottom: 40px;
}

.farm-list-img {
  min-width: 98px;
  min-height: 62px;
  margin: 0 12px 0 0;
}

.farm-title{
  margin-bottom: 15px
}

.farm-col-text{
  margin-right: 46px;
}

.farm-text {
  margin: 27px 0 14px;
}

.farm-col-subtext{
 margin-right: 170px;
}

  /* AUTO  */

.auto-section{
  padding-top: 90px;
  padding-bottom: 57px;

  .farm-list-img{
    width: 100%;
    height: 100%;
  }
    .farm-item{
      padding-left: 0;
    }
}

  /* PARTNERS  */

.partners-section {
    padding-top: 57px; 
    padding-bottom: 85px;
  
  .headline {
    padding-bottom: 51px;
  }
}

.partners-box{
  margin-bottom: 106px;
}

.partners-box-two{
  grid-template-columns: repeat(4, 1fr);
}

.img-partners{
  padding-top: 29px;
  max-width: 356px;
  min-height: 92px;
}

.img-partners-two {
  min-width: 251px;
  min-height: 74px;
}

  /* CARDS  */

.cards-section {
  padding: 85px 0;
}

  .card-columns {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 24px;
  }

  .cards-box{
  min-height: 400px;
  min-width: 550px;
  padding: 170px 64px 32px 32px;
  font-size: 20px;
  line-height: 130%;

  p{
    margin-bottom: 32px;
  }
  .btn{
    min-width: 177px;
      min-height: 56px;
  }
}

.cards-one{
    &::before{
      background-image: url(../images/tractor-two.svg);
      min-height: 225px;
      min-width: 272px;

  }
}

.cards-two {
  &::before {
    background-image: url(../images/shovel-two.svg);
    min-height: 240px;
    min-width: 285px;
  }
}

.card-title{
  margin-bottom: 16px;
}

  /* AND  */

  .and-section {
    padding: 85px 0 101px;
  }

  /* FOOTER */

  .footer{
    margin: 0 auto;
  padding: 46px 0;
  }

  .footer-links-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-text{
    font-size: 18px;
  }
}
