    /* AUTO */

.auto-section {
  padding: 36px 0;
  display: flex;

  .farm-item {
    gap: 2px;
    margin-bottom: 33px;
  }
    .farm-col-text {
      margin: 24px 0 0 16px;
    }
    .farm-col-subtext{
      margin-top: 90px;
    }
  .farm-list-img {
    margin-top: 13px;
  }
}

.farm-sublist,
.auto-sublist {
  border-radius: var(--border-radius-info);
  max-width: 282px;
  max-height: 153px;
  box-shadow: 0 4px 20px 0 rgba(27, 17, 8, 0.1);
  background: var(--body-bg-color);
  margin: 32px 0;
  display: block;
}

@media (min-width: 768px) {
  /* AUTO  */
  
    .auto-section {
      padding-top: 86px;
      padding-bottom: 57px;
  
    .headline {
        margin-bottom: 69px;
      }
  
      .farm-item {
        padding-left: 0;
        margin-bottom: 25px;
      }
      .farm-col-text {
        margin: 0 45px 0 80px;
       }
     .btn-primary {
       margin: 0 0 0 163px;
      }
    }
  }