/* CARDS */

.cards-section {
  padding: 50px 0 60px;
}

.card-columns{
  align-items: stretch;
}

.cards-box {
  font-weight: 500;
  min-height: 328px;
  font-size: var(--farm-font-size);
  line-height: 1.7;
  color: var(--body-bg-color);
  background-color: #BBDBB6;
     border-radius: var(--border-radius-info);
      padding: 102px 14px 24px var(--offset); 
    position: relative;
    
    p {
      margin-bottom: 24px;
}
}

.cards-box-1 {
  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    min-width: 165px;
    min-height: 140px;
    top: -10px;
    right: 0;
    background-image: url(../images/tractor.svg);
    background-repeat: no-repeat;
}
}

.cards-box-2 {
  &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      min-width: 165px;
      min-height: 140px;
      top: -10px;
      right: -20px;
      background-image: url(../images/hand.svg);
        background-repeat: no-repeat;
}
}

.card-title {
  font-weight: 600;
  font-size: var(--body-text-font-size);
  color: var(--body-bg-color);
  margin-bottom: 8px;
  text-align: start;
}

.card-columns {
  display: grid;
  justify-content: center;
  gap: 32px;
}

@media (min-width: $tablet-width) {
  /* CARDS  */
  
    .cards-section {
      padding: 85px 0;
    }
  
    .card-columns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }
  
    .cards-box {
      min-height: 400px;
      padding: 170px 64px 32px 32px;
      font-size: 20px;
      line-height: 130%;
      max-width: 550px;

      p {
        margin-bottom: 32px;
      }
  
      .btn {
        min-width: 177px;
        min-height: 56px;
      }
    }
  
    .cards-box-1 {
      &::before {
        background-image: url(../images/tractor-two.svg);
        min-height: 225px;
        min-width: 272px;
  
      }
    }
  
    .cards-box-2 {
      &::before {
        background-image: url(../images/shovel-two.svg);
        min-height: 240px;
        min-width: 285px;
        right: -60px;
      }
    }
  
    .card-title {
      margin-bottom: var(--offset);
    }
  }