    /* FARM */
.farm-section{
  padding: 30px 0 30px;
  display: flex;
}

.farm-list{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.farm-card{
  padding: 24px;
  margin: 0 auto;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 4px 20px 0 rgba(27, 17, 8, 0.1);
  background: #fff;
  border-radius: 16px;
}
.card-col{
  display: flex;
  align-items: center;
  gap: 16px;
}
.card-col-2{
  gap: 26px;
}
.card-apy{
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 align-items: center;
}

.farm-card-title{
font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
}
.card-apy-1,
.card-subtext{
  font-weight: 600;
    font-size: 14px;
    color: var(--subtext-color);
}
.card-apy-1{
  font-size: 16px;
}
.card-apy-2{
  font-weight: 700;
  font-size: 18px;
  color: $primary-color;
}

@media (min-width: $tablet-width) {
  /* FARM  */
  
    .farm-section {
      padding: 70px 0 90px;
    .headline{
      margin-bottom: 71px;
    }
  }
  .farm-list{
    gap: 39px;
  }
  .farm-card{
    flex-direction: row;
    min-width: 744px;
    box-shadow: 0 4px 28px 0 rgba(27, 17, 8, 0.06);
    border-radius: 64px 24px 24px 64px;
    max-height: 100px;
    padding: 20px 0px 20px 14px;
    gap: 38px;
  }
  .card-col-1{
    border-right: 2px solid rgba(42, 169, 21, 0.32);
  }
    .card-apy{
      text-align: start;
      align-items: start;
      gap: 14px;
      margin-left: 6px;
    }
  .card-text{
    display: grid;
      gap: 16px;
      margin-left: -3px;
      padding-right: 27px;
  padding: 6px 16px 10px 0;
  }
    .card-col-2{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 24px;
      flex-grow: 1;
      justify-content: space-between;
    }
        .farm-card-title {
          font-size: 20px;
        }
        .card-apy-1,
        .card-subtext {
          font-size: 16px;
        }
        .card-apy-2 {
          font-weight: 700;
          font-size: 20px;
        }
}