.features-section{
  padding: 69px 0 40px 0;

  .headline{
    margin-bottom: 38px;
  }
}

.features-title,
.primary-color {
  color: #2aa915;
}

.features-list{
  display: grid;
  gap: var(--offset-lg);
  grid-template-columns: repeat(auto-fill, 360px);
  margin-bottom: 40px;
  justify-content: center;
}

.features-sublist {
  border-radius: var(--border-radius-info);
  aspect-ratio: 28/20.4;
  box-shadow: 0 4px 20px 0 rgba(27, 17, 8, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px 37px 20px;
      margin: 0 auto;

    }

    .features-sublist:nth-child(1){
     margin-bottom: 8px;
    }

    .features-img {
      max-width: 41%;
    }

   .features-item{
    font-weight: 500;
      font-size: 18px;
      color: #2f2f2f;
      margin-bottom: 7px;
   }
  
   .features-text{
    font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: #4b4b4b;
      letter-spacing: .3px;
      line-height: 18px;
   }

     .features-text-referral{
       max-width: 174px;
     }

    .features-sublist-and{
    margin-bottom: 39px;
    }

  .features-text-and{
    margin-bottom: 21px;
  }

@media (min-width: $tablet-width) {
  /* FEATURES  */
  
    .features-section {
      padding: 100px 0 74px;

      .headline{
        margin-bottom: 96px;
      }
    }

    .features-list {
      gap: 44px 24px;
      margin-bottom: 78.4px;
      justify-content: center;
    }
  
    .features-item {
      font-size: var(--body-text-font-size);
      position: relative;
      margin: 7px 0 0 5px;
    }
  
    .features-sublist {
      border-radius: var(--border-radius);
      margin: 0;
      padding: 20px 45px 32px;
      aspect-ratio: 36/27;
      gap: 10px;
    }
    
    .features-sublist:nth-child(1){
      padding: 27px 45px 26.8px;
      .features-img {
      margin-bottom: 7.8px;
    }
    .features-item{
      margin: 0 0 0 9px;
    }
     .features-text{
       line-height: 19px;
    }
  }
    .features-sublist:nth-child(3),
    .features-sublist:nth-child(2) {
      padding: 23.8px 45px 29px;
      .features-img {
        margin-bottom: 9px;
      }
      .features-item {
        margin: 0 0 0 6px;
      }
      .features-text {
        line-height: 20.9px;
      }
    }

  .features-sublist:nth-child(3) {
    .features-item {
       margin-left: 2px;
     }
}

.features-sublist:nth-child(5) {
  .features-item {
  margin: 9.8px 0 0 12px;
  }
}
    .btn-features {
      margin-top: 80px;
    }

     .features-text{
      letter-spacing: .01px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
     }

    .features-text-referral{
      max-width: 197px;
    }
}

@media (min-width: 1002px) {
  .features-list {
    align-items: center;
  }
}