.features-section{
  padding: 55px 0 38px 0;

  .headline{
    margin-bottom: 40px;
  }
}

.features-title,
.features-color {
  color: #2aa915;
}

.features-sublist {
  border-radius: var(--border-radius);
  aspect-ratio: 28/20;
  box-shadow: 0 4px 20px 0 rgba(27, 17, 8, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      align-items: center;
      text-align: center;
      margin-bottom: 32px;
    }

    .features-sublist-one{
      margin-bottom: 40px;
    }

    .features-img-one{
    margin-bottom: 0px;
    }

   .features-item{
    font-weight: 500;
      font-size: 18px;
      color: #2f2f2f;
      position: absolute;
      margin-top: 118px;
   }

   .features-text{
    font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: #4b4b4b;
      max-width: 202px;
      margin-bottom: 23px;
   }

     .features-text-referral{
       max-width: 174px;
     }

    .features-sublist-and{
    margin-bottom: 39px;
    }

  .features-text-and{
    margin-bottom: 38px;
  }

@media (min-width: 768px) {
  /* FEATURES  */
  
    .features-section {
      padding-top: 100px;
      padding-bottom: 72px;

      .headline{
        margin-bottom: 100px;
      }
    }

    .features-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr );
      gap: 44px 24px;
      margin-bottom: 80px;
      justify-content: center;
    }
  
    .features-item {
      font-size: var(--body-text-font-size);
      position: relative;
      margin: 0;
    }
  
    .features-item-two,
    .features-item-six{
     margin-left: 5px;
    }
     
     .features-item-three {
      margin-left: 2px;
     }

    .features-item-four {
      margin-left: 4px;
    }

    .features-item-five {
      margin-left: 13px;
    }

    .features-sublist {
      border-radius: var(--border-radius);
      justify-content: flex-end;
      margin: 0;
      padding: 0 45px 30px;
      aspect-ratio: 36/27;
      gap: 10px;
    }
    
    .btn-features {
      margin-top: 80px;
    }
    
    .features-img {
      margin-bottom: 32px;
    }

    .features-img-one {
      margin-top: -10px;
    }

     .features-text{
      font-weight: 400;
        font-size: 18px;
        max-width: 282px;
        margin: 0;
     }

    .features-text-referral{
      max-width: 197px;
    }
}

@media (min-width: 1002px) {
  .features-list {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}