/* FOOTER */

     .farm-text,
     .info-text,
     .paragraph-title,
     .footer-link,
     .footer {
       font-size: var(--text-font-size);
       color: var(--subtext-color);
     }

     .info-list,
     .footer-headline {
       font-weight: 700;
       font-size: 22px;
     }

    .footer {
      font-size: 12px;
      color: var(--body-bg-color);
      background: #262626;
      min-width: 360px;
      max-height: 323px;
      padding: 42px;
}
    
    .footer-headline {
      font-size: var(--body-text-font-size);
      margin: 0 auto 36px;
      display: flex;
        justify-content: center;
}

.footer-links-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 50px;
}
    
.footer-link {
  display: flex;
  align-items: center;
 text-decoration: none;
  color: #f8f8f8;
  border: 1px solid #484848;
   border-radius: 38px;
  min-width: 143px;
   min-height: 44px;
  box-shadow: 0 4px 28px 0 rgba(27, 17, 8, 0.06);
  background: #373737;

img{
  margin: 0 8px;
}
}

.footer-text {
    text-align: center;
  }

@media (min-width: 768px) {
  /* FOOTER */
  
    .footer {
      margin: 0 auto;
      padding: 46px 0;
    }
  
    .footer-links-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  
    .footer-text {
      font-size: 18px;
    }
  }