.hero-section{
  padding-bottom: 40px;
}

.container {
  max-width: 360px;
  padding: 0 var(--offset);
  margin: 0 auto;
}

.headline,
.title-hero-box {
  font-weight: 700;
  font-size: var(--body-text-font-size);
}

.headline {
  text-align: center;
  margin-bottom: 48px;
}

.title-hero-box{
  margin-bottom: var(--offset);
  font-size: var(--hero-title-font-size);
}

.title {
  font-weight: 700;
  font-size: var(--hero-title-font-size);
  width: 300px;
  display: flex;
  text-align: start;}
  
  .highlight-color {
    width: 300px;
    height: 48px;
    color: #2aa915;
  }
  
  
  .primary-color,
  .statistic-list,
  .paragraph-title,
  .subtitle,
  .title-hero{
    font-weight: 500;
  }
  
  .subtitle {
    font-weight: 400;
    line-height: 162%;
    color: #000;
    margin-bottom: 24px;
    max-width: 245px;
  }
  
  .hero-video {
    background-image: url(../images/hero-video.svg);
    width: 900px;
    height: 581px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--border-radius);
    margin: 0 0 148px 141px;
    display: none;
  }
  
  .hero-video-img {
    padding-left: 12px;
  }
  
 .fons-three{
position: fixed;
width: 100%;
min-height: 100%;
padding-top: 100px;
} 

@media (min-width: $tablet-width) {
  
  /* HERO  */
  
  .hero-section {
    padding: 0 50px 50px 0;
  }
  
  .hero-box {
    display: flex;
    padding-bottom: 303px;
    gap: 27px;
  }
  
  .headline {
    font-size: 48px;
  }
  
  .container {
    max-width: 1162px;
    margin: 0 auto;
  }
  
  .title-hero{
    margin-left: 27px;
  }
  
  .title-hero-box {
    margin: 163px 0 53px;
  }
  
  .title {
    font-size: 72px;
    width: 552px;
  }
  
  .subtitle {
    max-width: 450px;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 40px;
  }
  .hero-video {
    display: flex;
  }
  .img-hero{
    padding-top: 12px;
  }
}