    /* INFO */

.info-section{
  padding: 40px 0 30px;

  .headline{
    margin-bottom: 47px;
  }

  .highlight-color {
    width: 192px;
    height: 24px;
}     
}

.info-list{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.info-sublist {
  border: 2px solid rgba(42, 169, 21, 0.2);
  border-radius: var(--border-radius-info);
  min-width: 192px;
  min-height: 174px;
  box-shadow: 0 4px 28px 0 rgba(27, 17, 8, 0.06);
  background: var(--body-bg-color);
  padding: 30px 10px 20px;

  img {
    display: block;
    margin: 0 auto 8px;
  }

  .highlight-color{
    display: flex;
      justify-content: center;
      width: 100%;
}
}

.info-text{
display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

.mobail-hiden{
  display: none;
}
  
  
@media (min-width: $tablet-width) {
    /* INFO  */
  
    .info-section {
      padding: 70px 0 118px;

      .headline {
          margin-bottom: 48px;
        }
    }
  
    .info-list {
      gap: 42px;
    }
  
    .info-sublist {
      border-radius: 24px;
    }

 .info-sublist img {
   margin: 0 auto 10px;
}
    .mobail-hiden {
      display: flex;
      flex-direction: column;
    }
  }