 /* PARTNERS */

.partners-section{
  padding: 50px 0 47px;
}

.partners-box{
display: flex;
gap: 20px;
padding-bottom: 83px;
justify-content: space-evenly;
}

.partners-box-two {
  display: flex;
  justify-content: center;
}

.partners-list-img{
display: grid;
  gap: 18px 30px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $tablet-width) {
  /* PARTNERS  */
  
    .partners-section {
      padding: 73px 0 84px;
    .headline {
     margin-bottom: 80px;
    }
  h3.headline{
    margin-bottom: 46px;
  }
  .partners-box {
    padding-bottom: 105px;
    gap: 60px;
  }
}
  
    .img-partners{
    width: 100%;
    object-fit: contain;
    }
   .partners-list-img {
     grid-template-columns: repeat(4, 1fr);
     width: 100%;
   }
  }

    @media (min-width: 449px){
      .partners-box{
        gap: 0;
      }
    }