 /* PARTNERS */

.partners-section{
  padding: 30px 0 50px;
}

.partners-box{
display: grid;
gap: 20px;
grid-template-columns: repeat(3, 1fr);
}

.partners-box-two{
display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $tablet-width) {
  /* PARTNERS  */
  
    .partners-section {
      padding: 60px 0 80px;
  
      .headline {
        padding-bottom: 51px;
      }
    }
  
    .partners-box {
      margin-bottom: 106px;
    }
  
    .partners-box-two {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .img-partners {
      padding-top: 29px;
      max-width: 356px;
      min-height: 92px;
    }
  
    .img-partners-two {
      min-width: 251px;
      min-height: 74px;
    }
  }