*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font-family);
  font-weight: 600;
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--body-bg-color);
  font-size: var(--text-font-size);
  line-height: 1.2;
  min-width: 360px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1162px;
  padding: 0 16px;
  margin: 0 auto;
}


